{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Add Exam</title>
{% endblock %}


{% block content %}

    <div class="container" style="padding: 10px">

        <h1 class="display-4" style="text-style: bold">Add Exam</h1>
        <div class="jumbotron" style="padding: 15px">
            <div class="card card-body">
                <form method="post" action="{% url 'main:add_exam' %}">{% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-success" value="Add">
                </form>
            </div>

        </div>
    </div>


{% endblock %}
