{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}


{% block content %}

    <div class="container" style="padding: 30px">
        <div class="jumbotron">
          <h1 class="display-4">Welcome</h1>
          <p class="lead">iEPM - Examination Management System (EMS)</p>
          <hr class="my-4">
          <a class="btn btn-primary btn-lg" href="{% url 'users:examiner_sign_up' %}" role="button">Examiner</a>
          <a class="btn btn-primary btn-lg" href="{% url 'users:student_sign_up' %}" role="button">Student</a>
        </div>
    </div>



{% endblock %}
