{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block title %}
    <title>Manage Exam</title>
{% endblock %}


{% block custom_css %}
    <link rel="stylesheet" href="{% static 'main_app/css/manage_questions.css' %}">
{% endblock %}


{% block logout_in_navbar %}

    {% include 'sign_out_button.html' %}

{% endblock %}


{% block content %}

    <div class="container my_container">
    <div class="row">
        <div class="col">

            <form method="post" action="#">{% csrf_token %}
                <div class="input-group my_input_group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Exam Name : </span>
                    </div>
                    <input type="text" name="examName" value="{{ exam_name }}" class="form-control" disabled/>
                </div>
                <div class="input-group my_input_group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Category : </span>
                    </div>
                    <input type="text" name="examCategory" value="{{ exam_category }}" class="form-control" disabled/>
                </div>

                <span><a href="{% url 'main:all_exams' %}" id="backbtn" class="btn btn-secondary backBtn">Back</a></span>
                <span><a href="#newQcollapse" id="addQuestion" class="btn btn-info addQBtb" data-toggle="collapse">Add Question <i class="fa fa-plus"></i></a></span>
            </form>


            <!-- New Question Collapse -->
            <div class="collapse" id="newQcollapse">
                <div class="card card-body newQuestion_collapse" id="my_card">
                <form method="post" action="{% url 'main:add_question' exam_id %}" autocomplete="off">{% csrf_token %}
                       <div class="input-group newQ_my_input_group_collapsebody">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Question : </span>
                            </div>
                            <textarea id="newQ_body" name="newQ_body" class="form-control" aria-label="With textarea" required></textarea>
                        </div>

                        <div class="input-group my_input_group_collapse">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Option 1 : </span>
                            </div>
                            <input id="newQ_option1" name="newQ_option1" type="text" class="form-control" required/>
                        </div>

                        <div class="input-group my_input_group_collapse">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Option 2 : </span>
                            </div>
                            <input id="newQ_option2" name="newQ_option2" type="text" class="form-control" required/>
                        </div>

                        <div class="input-group my_input_group_collapse">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Option 3 : </span>
                            </div>
                            <input id="newQ_option3" name="newQ_option3" type="text" class="form-control" required/>
                        </div>

                        <div class="input-group my_input_group_collapse">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Option 4 : </span>
                            </div>
                            <input id="newQ_option4" name="newQ_option4" type="text" class="form-control" required/>
                        </div>

                        <div class="input-group my_input_group_collapse">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Correct Answer : </span>
                            </div>
                            <input id="newQ_correctA" name="newQ_correct_ans" type="number" min="1" max="4" class="form-control" required/>
                        </div>

                        <hr>

                        <input type="hidden" id="exam_name_forTheNewQ" name="exam_name_forTheNewQ" value="">
                        <input type="hidden" id="exam_code_forTheNewQ" name="exam_code_forTheNewQ" value="">

                        <input type="button" onclick="addNewQuestion({{exam_id}})" name="add_new_question" class="btn btn-success" value="Add">
                   </form>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Questions List -->
<div class="container QL_contianer">

        <div class="col">

            <h4 class="QL_header">Questions List</h4>

            <div id="questionsList">

            {% for question in questions %}

              <div id="wholeQuestion-{{ question.id }}">
                <div id="question-{{ question.id }}" class="question" data-toggle="collapse" data-target="#question-{{ question.id }}-collapse">Question {{ forloop.counter }}</div>
                <div class="collapse" id="question-{{ question.id }}-collapse">
                    <div class="card card-body question_collapse">

                        <form method="post" action="{% url 'main:update_question' exam_id question.id %}">{% csrf_token %}

                            <div class="input-group my_input_group_collapse">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Question : </span>
                                </div>
                                <textarea id="question-{{ question.id }}-body" class="form-control" aria-label="With textarea" >{{ question.body }}</textarea>
                            </div>
                            <div class="input-group my_input_group_collapse">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Option 1 : </span>
                                </div>
                                <input id="question-{{ question.id }}-option-1" value="{{ question.op1 }}" type="text" class="form-control" />
                            </div>

                            <div class="input-group my_input_group_collapse">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Option 2 : </span>
                                </div>
                                <input id="question-{{ question.id }}-option-2" value="{{ question.op2 }}" type="text" class="form-control" />
                            </div>

                            <div class="input-group my_input_group_collapse">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Option 3 : </span>
                                </div>
                                <input id="question-{{ question.id }}-option-3" value="{{ question.op3 }}" type="text" class="form-control" />
                            </div>

                            <div class="input-group my_input_group_collapse">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Option 4 : </span>
                                </div>
                                <input id="question-{{ question.id }}-option-4" value="{{ question.op4 }}" type="text" class="form-control" />
                            </div>
                            <div class="input-group my_input_group_collapse">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Correct Answer : </span>
                                </div>
                                <input id="question-{{ question.id }}-correctA" value="{{ question.correct_ans }}" type="number" class="form-control" />
                            </div>
                            <hr>

                            <!-- id="updateQuestion-{{ question.id }}-Btn" -->
                            <button id="updateQuestion-{{ question.id }}-Btn" onclick="update_question( {{exam_id}}, {{question.id}} )" class="btn btn-primary updateQ_btn" disabled>Save <i class="far fa-save"></i></button>
                            <a href="#" onclick="delete_question( {{exam_id}}, {{question.id}}, {{ forloop.counter }} )" class="btn btn-danger">Delete <i class="far fa-trash-alt"></i></a>
                        </form>


                     </div>
                  </div>

                </div>

            {% endfor %}

            </div>

        </div>

</div>


{% endblock %}

{% block custom_js %}
    <script src="{% static 'main_app/js/manage_questions.js' %}"></script>
{% endblock %}