{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Sign Up</title>
{% endblock %}

{% block custom_css %}

<style>
  .display-4, .lead{
    font-weight: 400;
  }

  .jumbotron {
    padding: 15px; background-color: #aaa;
  }
</style>

{% endblock %}

{% block content %}

    <div class="container" style="padding: 10px">

        <h1 class="display-4">Student Sign up</h1>
        <p class="lead">Welcome new comers</p>
        <div class="jumbotron">
            <div class="card card-body">
                <form method="post">{% csrf_token %}
                    {{ form|crispy }}

                    <div style="text-align: right">
                        <input type="submit" style="float: left" class="btn btn-success" value="Sign up">
                        <a href="{% url 'main:home' %}" style="float: left; margin-left: 5px;" class="btn btn-secondary">Back</a>
                        <span>Already Have An Account ?</span>
                        <a class="btn btn-outline-primary" href="{% url 'users:login' %}">Login</a>
                    </div>
                </form>

            </div>

        </div>
    </div>


{% endblock %}
