{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'users/examiners/css/examiner_profile.css' %}">
{% endblock %}


{% block content %}

    <div class="container" style="padding: 10px">

        <h1 class="display-4" style="margin: 30px 0; font-size: 45px">Welcome <b>"{{ profile.user }}"</b>, in examiner dashboard</h1>

        <div class="jumbotron" style="padding: 15px">
            <div class="card card-body" >

                <div class="list-group" style="width: 300px">
                  <a href="{% url 'main:all_exams' %}" class="list-group-item list-group-item-action list-group-item-primary item">My Exams</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-primary item">Student Scores</a>
                </div>

            </div>
        </div>

    </div>


<!--<div class="container" style="padding: 10px">-->
<!--  <div class="row">-->
<!--    <div class="col">-->

<!--      <div class="mycontainer">-->

<!--          <h2 class="greatingStatment">Welcome <b>"{{ profile.user }}"</b>, in Examinar Dashboard</h2><hr>-->
<!--        <div>-->
<!--          <p><a href="addExam.php" class="btn my_btn">Add Exam</a></p>-->
<!--          <p><a href="editExamNameOrCode.php" class="btn my_btn">Update Exam</a></p>-->
<!--          <p><a href="allExams.php" class="btn my_btn">Manage Exams</a></p>-->
<!--          <p><a href="studentsScores.php" class="btn my_btn">Students Scores</a></p>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->



{% endblock %}
