{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'users/examiners/css/examiner_profile.css' %}">
{% endblock %}


{% block logout_in_navbar %}
    <li class="nav-item mr-auto">
        <a class="nav-link" href="{% url 'users:examiner_logout' %}">Logout</a>
    </li>
{% endblock %}

{% block content %}

    <div class="container" style="padding: 10px">

        <h1 class="display-4" style="margin: 30px 0; font-size: 45px">Welcome <b>"{{ profile.user }}"</b>, in examiner dashboard</h1>

        <div class="jumbotron" style="padding: 15px; background-color: #ccc;">
            <div class="card card-body" >

                <div class="list-group" style="width: 300px">
                  <a href="{% url 'main:all_exams' %}" class="list-group-item list-group-item-action list-group-item-primary item">My Exams</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-primary item">Student Scores</a>
                </div>

            </div>
        </div>

    </div>


{% endblock %}
