{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Login</title>
{% endblock %}


{% block content %}

    <div class="container" style="padding: 10px">
        <h1 class="display-4" style="text-style: bold">Login</h1>
        <p class="lead">Your most welcome :)</p>
        <div class="jumbotron" style="padding: 15px; background-color: #ccc;">
            <div class="card card-body">
                <form method="POST" action="{% url 'users:login' %}">{% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary" value="Login">
                    <a href="{% url 'main:home' %}" class="btn btn-secondary">Back</a>
                </form>
            </div>

        </div>
    </div>


{% endblock %}
