{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}


{% block content %}

    <div class="container" style="padding: 10px">
        <h1 class="display-4" style="text-style: bold">Student Login</h1>
        <p class="lead">Your most welcome</p>
        <div class="jumbotron" style="padding: 15px">
            <div class="card card-body">
                <form method="post">{% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-success" value="Login">
                </form>
            </div>

        </div>
    </div>


{% endblock %}
