
.container {
    padding: 10px
}

.display-4 {
    margin: 30px 0;
    font-size: 45px
}

.jumbotron {
    padding: 7px;
    background-color: #004a7f;
    box-shadow: 5px 5px gray;
}

.list-group {
    width: 300px
}

.item {
    margin: 10px;
}

